{% load static %}
  <!DOCTYPE html>
  <html>   
    <head>
      <!--Import Google Icon Font-->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
      <!--Import materialize.css-->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/> -->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/stylesheet.css' %}"> -->

      <!--Let browser know website is optimized for mobile-->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
      <!-- <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script> -->

      {% include 'payout/nav.html' %}

      <h1> PINC SHOES PAYOUT SYSTEM </h1>
      <h2> Advanced Payments </h2>
      <p>
        <table>
          <tr>
            <th>Worker</th>
            <th>Last Date Paid</th>
            <th>Status</th>
          </tr>
          {% for payment in payments %}
          <tr>
            <td> {{payment.worker_id}} </td>
            <td> {{payment.worker_id.last_date_paid}} </td>
            <td> {{payment.get_payment_status_display}} </td>
            <td><button><a href="{% url 'payout:updateadvanced' payment.pk %}"> Update </a> </button> </td>
          </tr>
          {% endfor %}
        </table>
      </p>

      <div>
        <button><a href="{% url 'payout:index' %}"> Home</a> </button>
        <button><a href="{% url 'payout:addadvanced' %}"> Add worker </a> </button>
      </div>

    </body>
  </html>