<nav>  
    <div class="nav-wrapper">
      <a href="{% url 'payout:index' %}" class="brand-logo">PINC SHOES PAYOUT SYSTEM</a> |
      <a href="{% url 'payout:workers' %}">Workers</a> |
      <a href="{% url 'payout:advanced' %}">Advanced Payments</a> |
      <a href="{% url 'payout:report' %}">Payout</a> |
      <a href="{% url 'payout:departments' %}"> Departments </a> |
      <a href="{% url 'payout:weeklyreports' %}">Weekly Reports</a> |
      <a href="{% url 'payout:tickets' %}">Generate Tickets</a>
    </div>
</nav>