{% load static %}
  <!DOCTYPE html>
  <html>   
    <head>
      <!--Import Google Icon Font-->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
      <!--Import materialize.css-->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/> -->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/stylesheet.css' %}"> -->

      <!--Let browser know website is optimized for mobile-->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
      <!-- <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script> -->
      {% include 'payout/nav.html' %}
      
      <h1> PINC SHOES PAYOUT SYSTEM </h1>
      <h2> Payout - {{sat}} </h2>
      <p>
          <table>
            <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Tickets</th>
              <th>Bonus</th>
              <th>Total</th>
              <th>Actions</th>
            </tr>
            {% for payout in payouts %}
            <tr>
              <td> {{payout.worker}} </td>
              <td> {{payout.worker.department_name}} </td>
              <td> {{payout.number_of_tickets}} </td>  
              <td> {{payout.amount_of_bonus}} </td>  
              <td> {{payout.total_salary}} </td>
              <td> <button><a href="{% url 'payout:updatepayout' payout.pk %}"> Update </a> </button> </td>
            </tr>
            {% endfor %}
          </table>

          <div>
            <button><a href="{% url 'payout:index' %}"> Home</a> </button>
            <button><a href="{% url 'payout:newpayout' %}"> Add Payout </a> </button>
          </div>
      </p>
    </body>
  </html>