{% load static %}
  <!DOCTYPE html>
  <html>   
    <head>
      <!--Import Google Icon Font-->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
      <!--Import materialize.css-->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/> -->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/stylesheet.css' %}"> -->

      <!--Let browser know website is optimized for mobile-->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
      <!-- <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script> -->

      {% include 'payout/nav.html' %}

      <h1> PINC SHOES PAYOUT SYSTEM </h1>
      <h2> Tickets </h2>
      <p>
        <table>
          <tr>
            <th>Style Name</th>
            <th>Color</th>
            <th>Number of Pairs</th>
          </tr>
          {% for ticket in tickets%}
          <tr>
            <td> {{ticket.style_name}} </td>
            <td> {{ticket.color}} </td>
            <td> {{ticket.no_pairs}} </td>
            <td> <button><a href="{% url 'payout:updateticket' ticket.pk %}"> Update </a> </button> </td>
            <td> <button><a href="{% url 'payout:viewticket' ticket.pk %}"> View </a> </button> </td
          </tr>
          {% endfor %}
        </table>
      </p>

      <div>
        <button><a href="{% url 'payout:index' %}"> Home</a> </button>
        <button><a href="{% url 'payout:addticket' %}"> Add ticket </a> </button>
      </div>
    </body>
  </html>