{% load static %}
  <!DOCTYPE html>
  <html>   
    <head>
      <!--Import Google Icon Font-->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
      <!--Import materialize.css-->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/> -->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/stylesheet.css' %}"> -->

      <!--Let browser know website is optimized for mobile-->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
      <!-- <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script> -->

      {% include 'payout/nav.html' %}

      <h1> PINC SHOES PAYOUT SYSTEM </h1>
      <h2> Tickets </h2>
      <p>

        {% for department in departments %}
        <table>
          <tr>
            <th> Department </th>
            <th>Style Name</th>
            <th>Color</th>
            <th>Number of Pairs</th>
            <th>35</th>
            <th>36</th>
            <th>37</th>
            <th>38</th>
            <th>39</th>
            <th>40</th>
          </tr>
            <td>{{department.department_name}} </td>
            <td> {{ticket.style_name}} </td>
            <td> {{ticket.color}} </td>
            <td> {{ticket.no_pairs}} </td>
            <td> {{ticket.size1}} </td>
            <td> {{ticket.size2}} </td>
            <td> {{ticket.size3}} </td>
            <td> {{ticket.size4}} </td>
            <td> {{ticket.size5}} </td>
            <td> {{ticket.size6}} </td>
          </tr>
        </table>
        {% endfor %}
      </p>

      <div>
        <button><a href="{% url 'payout:tickets' %}"> Done </a> </button>

        <input type="button" value="Print Ticket" onclick="PrintMe()" />
        <script>
            function PrintMe(){
                window.print();
            }
        </script>
        
      </div>
    </body>
  </html>