{% load static %}
  <!DOCTYPE html>
  <html>   
    <head>
      <!--Import Google Icon Font-->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
      <!--Import materialize.css-->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/> -->
      <!-- <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/stylesheet.css' %}"> -->

      <!--Let browser know website is optimized for mobile-->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
      <!-- <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script> -->

      {% include 'payout/nav.html' %}

      <h1> PINC SHOES PAYOUT SYSTEM </h1>
      <h2> Workers </h2>
      <p>
        <table>
          <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Accumulated Tickets</th>
            <th>Accumulated Salary</th>
            <th>Last Date Paid</th>
          </tr>
          {% for worker in workers%}
          <tr>
            <td> {{worker.worker_name}} </td>
            <td> {{worker.department_name}} </td>
            <td> {{worker.accumulated_tickets}} </td>
            <td> {{worker.accumulated_salary}} </td>
            <td> {{worker.last_date_paid}} </td>
            <td> <button><a href="{% url 'payout:updateworker' worker.pk%}"> Update </a> </button> </td>
          </tr>
          {% endfor %}
        </table>
      </p>

      <div>
        <button><a href="{% url 'payout:index' %}"> Home</a> </button>
        <button><a href="{% url 'payout:addworker' %}"> Add worker </a> </button>
      </div>
    </body>
  </html>